{% comment %}
    Product Base Data
{% endcomment %}

{% include 'product-base-data', product: product %}



<div class="product-container container">
	
	<div class="product-shop">

		<div class="product-shop-row row">
			
			<div class="product-shop-col col one-whole medium-up-seven-twelfths">
				
				{% include 'product-shop-gallery' %}

			</div>

		
			<div class="product-shop-col col one-whole medium-up-five-twelfths">
				
				{% include 'product-shop-details' %}

			</div>

		</div>


		<script class="product-json" type="application/json">{{ product | json }}</script> 

	</div>


	{% unless is_gift_card %}
		
		<div class="product-bottom">
			{% include "product-related" %}
		</div>
	
	{% endunless %}
	

</div>


{% include "product-schema" %}