.btn{

	display: inline-block;

	$height: 40px;

	height: $height;
	line-height: $height;

	padding: 0 50px;
	border: 1px solid green;

	cursor: pointer;
	
	html.mod-no-mobile & {
		@include transition($duration:300ms);
		&:hover{

		}
	}

}


.btn-solid{

}

.btn-hollow-pure{

}

.btn-hollow-invert{

}

.btn-small{

}

.btn-regular{

}

.btn-large{

}