/* =========================================================================
	Desktop Navbar
========================================================================= */


.desktop-navbar-banner{

	height: $navbar-banner-height-desktop;
	line-height: $navbar-banner-height-desktop;

	font-size: 1.4rem;
	
	text-align: center;
}



.desktop-navbar {

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: list-get($z-index, 'navbar');
	
	@include transform(translateZ(0));

}


.desktop-navbar-nav {
	
	position: relative;

	@include clearfix;

	@include transition();

	background-color: #fff;

	.navbar-black-txt-transparent-bkg &,
	.navbar-white-txt-transparent-bkg &,
	body.navbar-by-slider-black-txt-transparent-bkg &,
	body.navbar-by-slider-white-txt-transparent-bkg &,
	{
		background-color: transparent;
	}

	.navbar-black-txt-semi-transparent-bkg &,
	body.navbar-by-slider-black-txt-semi-transparent-bkg &,
	{
		background-color: rgba(#fff, 0.5);
	}

	.navbar-white-txt-semi-transparent-bkg &,
	body.navbar-by-slider-white-txt-semi-transparent-bkg &,
	{
		background-color: rgba(#000, 0.5);
	}


	.navbar-black-txt-white-bkg &,
	body.navbar-by-slider-black-txt-white-bkg &,
	{
		background-color: #fff;
	}

	.navbar-white-txt-black-bkg &,
	body.navbar-by-slider-white-txt-black-bkg &,
	{
		background-color: #000;
	}


	html.mod-no-mobile .desktop-navbar:hover &,
	body.browser-scrolled &{
		background-color: #fff !important;
	}

}


.desktop-navbar-nav-logo {

	$width: 220px;

	position: absolute;
	top: 0;
	left: 50%;
	right: 0;

	width: $width;
	margin-left: $width / -2;
	
	overflow: hidden;

	border: 1px solid red;

	&:after,
	&:before {
		content: '';
		@include overlay(absolute);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;

		html.mod-no-mobile & {
			@include transition();
		}
	}

	&:before {
		opacity: 1;
		background-image: url("{{ 'no_logo_black.png' | asset_url }}");
		
	}

	&:after {
		opacity: 0;
		background-image: url("{{ 'no_logo_white.png' | asset_url }}");
		
	}

	.navbar-black-txt-transparent-bkg &,
	.navbar-black-txt-semi-transparent-bkg &,
	.navbar-black-txt-white-bkg &,
	body.navbar-by-slider-black-txt-transparent-bkg &,
	body.navbar-by-slider-black-txt-semi-transparent-bkg &,
	body.navbar-by-slider-black-txt-white-bkg &,

	{
		&:before{
			opacity: 1;
		}
		&:after{
			opacity: 0;
		}
	}

	.navbar-white-txt-transparent-bkg &,
	.navbar-white-txt-semi-transparent-bkg &,
	.navbar-white-txt-black-bkg &,
	body.navbar-by-slider-white-txt-transparent-bkg &,
	body.navbar-by-slider-white-txt-semi-transparent-bkg &,
	body.navbar-by-slider-white-txt-black-bkg &,

	{
		&:before{
			opacity: 0;
		}
		&:after{
			opacity: 1;
		}
	}


	html.mod-no-mobile .desktop-navbar:hover &,
	body.browser-scrolled &{
		&:before{
			opacity: 1 !important;
		}
		&:after{
			opacity: 0 !important;
		}
	}


}



$nav-list-item: (

  'padding-left'  25px,

  'padding-right' 25px,

  null

);

.desktop-navbar-nav-pillar{

	height: $navbar-nav-height-desktop;
	line-height: $navbar-nav-height-desktop;

	border: 1px solid blue;
}


ul.desktop-navbar-nav-list{

	@include clearfix;

	font-size: 1.4rem;

}

ul.desktop-navbar-nav-list-left{

}

ul.desktop-navbar-nav-list-right{

}



li.nav-list-level-1-item{

}


/*

nav-dropdown -> nav-list-level-1-item

*/

li.desktop-navbar-nav-dropdown{

}

/*

nav-dropdown-menu <-> nav-list-level-2 

*/

ul.desktop-navbar-nav-dropdown-menu {

	position: absolute;
	top: $navbar-nav-height-desktop;
	left: 0;
	right: 0;
	z-index: 1;

	width: 150px;
	padding-bottom: 10px;

	background-color: #fff;
	
}





.desktop-navbar-nav-list {


	li.nav-list-level-1-item{

		float: left;

		padding-left: list-get($nav-list-item,'padding-left');
		padding-right: list-get($nav-list-item,'padding-right');
		
		// border: 1px solid red;
		
		>a{
			
			.navbar-black-txt-transparent-bkg &,
			.navbar-black-txt-semi-transparent-bkg &,
			.navbar-black-txt-white-bkg &,
			body.navbar-by-slider-black-txt-transparent-bkg &,
			body.navbar-by-slider-black-txt-semi-transparent-bkg &,
			body.navbar-by-slider-black-txt-white-bkg &,

			{
				color: $color-black;
			}

			.navbar-white-txt-transparent-bkg &,
			.navbar-white-txt-semi-transparent-bkg &,
			.navbar-white-txt-black-bkg &,
			body.navbar-by-slider-white-txt-transparent-bkg &,
			body.navbar-by-slider-white-txt-semi-transparent-bkg &,
			body.navbar-by-slider-white-txt-black-bkg &,

			{
				color: #fff;
			}



			html.mod-no-mobile .desktop-navbar:hover &,
			html.mod-no-mobile body.browser-scrolled &{
				color: $color-black;
			}


			span{

			}

			
		}



	}


	ul.nav-list-level-2{

		li.nav-list-level-2-item{
				
			padding-left: list-get($nav-list-item,'padding-left');

			>a{

				color: $color-black;

				padding: 12px 0;

			}

		}

	}





}




.desktop-navbar-search-input {

	width: 0;

	line-height: 25px;

	vertical-align: middle;
	
	border: 1px solid green !important;

	@include transition();

	.desktop-navbar-search.open & {
		width: 150px;
	}

}



.desktop-navbar-search-submit {
	vertical-align: middle;
	@include transition();
	.desktop-navbar-search.open & {

	}
}




/* =========================================================================
	Mobile Navbar
========================================================================= */

.mobile-navbar-banner{

	height: $navbar-banner-height-mobile;
	line-height: $navbar-banner-height-mobile;

	font-size: 1.2rem;
	
	text-align: center;

}


.mobile-navbar {

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: list-get($z-index, 'navbar');

}


.mobile-navbar-header{

	@include clearfix;
	
	position: relative;

	text-align: center;

	background-color: #fff;

}



.mobile-navbar-header-pillar{
	
	height: $navbar-nav-height-mobile;
	line-height: $navbar-nav-height-mobile;

}


.mobile-nav-trigger{
	float: left;
	width: $navbar-nav-height-mobile;
	background: url("{{ 'icon_hamburger_black.svg' | asset_url }}") no-repeat center center;
	background-size: 28px;
	cursor: pointer;

	body.mobile-nav-open &{
		background: url("{{ 'icon_cross_black.svg' | asset_url }}") no-repeat center center;
		background-size: 32px;
	}
}

.mobile-mini-cart-trigger{
	float: right;
	cursor: pointer;
}



.mobile-navbar-nav-logo{

	$width: 150px;

	position: absolute;
	top: 0;
	left: 50%;
	right: 0;

	width: $width;
	margin-left: $width / -2;
	
	overflow: hidden;

	border: 1px solid red;

	&:after,
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;

		html.mod-no-mobile & {
			@include transition();
		}
	}


	&:before {
		opacity: 1;
		background-image: url("{{ 'no_logo_black.png' | asset_url }}");
		
	}

	&:after {
		opacity: 0;
		background-image: url("{{ 'no_logo_white.png' | asset_url }}");
		
	}
}


.mobile-navbar-nav-overlay{

	body.mobile-nav-open &{
		display: block;
	}

	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;

    top: $navbar-nav-height-desktop;
    @include screen('nav-bp-down') {
    top: $navbar-nav-height-mobile;
    }

    body.navbar-banner-enable & {
        top: $navbar-plus-banner-height-desktop;
        @include screen('nav-bp-down') {
        top: $navbar-plus-banner-height-mobile;
        }
    }
	
	background-color: rgba(#000, 0.6);

	cursor: pointer;	
}


.mobile-navbar-nav {

	position: fixed;

	left: 0;
	right: 80px;
	bottom: 0;

    top: $navbar-nav-height-desktop;
    @include screen('nav-bp-down') {
    top: $navbar-nav-height-mobile;
    }

    body.navbar-banner-enable & {
        top: $navbar-plus-banner-height-desktop;
        @include screen('nav-bp-down') {
        top: $navbar-plus-banner-height-mobile;
        }
    }

	padding-top: 15px;

	background-color: #fff;

	overflow: hidden;

	@include transition();
	@include transform(translateX(-100%));

	body.mobile-nav-open &{
		@include transform(translateX(0));
	}
	

}



.mobile-navbar-nav-pillar{

    padding: 15px 20px 5px;
	
	font-size: 1.4rem;
    
    text-align: left;

}



$mobile-navbar-nav-bottom-height: 50px;

.mobile-navbar-nav-bottom{
	height: $mobile-navbar-nav-bottom-height;
	line-height: $mobile-navbar-nav-bottom-height;
}

.mobile-navbar-nav-social-list{
	display: inline-block;
	li{
		a{
		    padding: 0 10px;
		    font-size: 1.6rem;
		}
	}
}



.mobile-navbar-nav-list{
	
	position: relative;
	height: calc(100% - #{$mobile-navbar-nav-bottom-height});

	@include transition();

	.mobile-navbar-nav.level-2-open &{
		@include transform(translateX(-100%));
	}


	.next-level-trigger{
		background: url("{{ 'icon_nav_arrow_right_black.svg' | asset_url }}") no-repeat 95% 50%;
		background-size: 35px;
		cursor: pointer;
	}


	.nav-list-level-2-wrapper{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 100%;
		width: 100%;
		background-color: #fff;
	}


	.prev-level-trigger{
		padding: 20px 20px 17px;
		font-size: 1.4rem;
		text-align: center;
	    cursor: pointer;

		background: url("{{ 'icon_nav_arrow_left_black.svg' | asset_url }}") no-repeat 10px 50%;
		background-size: 35px;
	}


	.nav-list-level-2{
		height: 100%;
		overflow: auto;
	}


}












