/* =========================================================================
	Desktop Navbar
========================================================================= */


.desktop-navbar-banner{
	text-align: center;
}



.desktop-navbar {

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: list-get($z-index, navbar);

}

.desktop-navbar-banner {

	height: $navbar-banner-height-desktop;
	line-height: $navbar-banner-height-desktop;

	text-align: center;

}


.desktop-navbar-nav {
	position: relative;
}



.desktop-navbar-nav-logo {

	$width: 220px;

	position: absolute;
	top: 0;
	left: 50%;
	right: 0;

	width: $width;
	margin-left: $width / -2;
	
	overflow: hidden;

	border: 1px solid red;

	&:after,
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;

		html.mod-no-mobile & {
			@include transition();
		}
	}

	&:before {
		opacity: 0;
		background-image: url("{{ 'no_logo_white.png' | asset_url }}");
	}

	&:after {
		opacity: 1;
		background-image: url("{{ 'no_logo_black.png' | asset_url }}");
	}

	body.hero-image-dark &{
		&:before{
			opacity: 1;
		}
		&:after{
			opacity: 0;
		}
	}

	html.mod-no-mobile .desktop-navbar:hover &,
	body.browser-scrolled &{
		&:before{
			opacity: 0;
		}
		&:after{
			opacity: 1;
		}
	}

}



$nav-list-item: (

  'padding-left'  25px,

  'padding-right' 30px,

  null

);


.desktop-navbar-nav-pillar{
	height: $navbar-nav-height-desktop;
	line-height: $navbar-nav-height-desktop;

	border: 1px solid blue;
}


ul.desktop-navbar-nav-list{

}

ul.desktop-navbar-nav-list-left{
	float: left;
}

ul.desktop-navbar-nav-list-right{
	float: right;
}



li.nav-list-level-1-item{
	.desktop-navbar-nav-list & {

		float: left;
		
		padding-left: list-get($nav-list-item,'padding-left');
		padding-right: list-get($nav-list-item,'padding-right');

		border: 1px solid red;
		
		>a{
			
			body.hero-image-dark &{
				color: #fff;
			}

			html.mod-no-mobile .desktop-navbar:hover &,
			body.browser-scrolled &{
				color: #000;
			}


			span{
				border-bottom: 1px solid red;
			}
			
			
		}
	}
}



/*

nav-dropdown -> nav-list-level-1-item

*/

li.desktop-navbar-nav-dropdown{

}

/*

nav-dropdown-menu <-> nav-list-level-2 

*/

ul.desktop-navbar-nav-dropdown-menu {

	position: absolute;
	top: $navbar-nav-height-desktop;
	left: 0;
	right: 0;
	z-index: 1;

	width: 150px;
	padding: 15px 0;
	border: 1px solid teal;

	background-color: #fff;
	
}



li.nav-list-level-2-item{
	.desktop-navbar-nav-list & {
		
		padding-left: list-get($nav-list-item,'padding-left');


		>a{
			padding: 8px 0;
			span{
				border-bottom: 1px solid blue;
			}
		}


	}
}





.desktop-navbar-search-input {

	width: 0;

	line-height: 25px;

	vertical-align: middle;
	
	border: 1px solid green !important;

	@include transition();

	.desktop-navbar-search.open & {
		width: 150px;
	}

}



.desktop-navbar-search-submit {
	vertical-align: middle;
	cursor: pointer;
	@include transition();
	.desktop-navbar-search.open & {

	}
}




/* =========================================================================
	Mobile Navbar
========================================================================= */

.mobile-navbar-banner{
	text-align: center;
}


.mobile-navbar {

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: list-get($z-index, navbar);

}


.mobile-navbar-header{
	position: relative;
	text-align: center;
}



.mobile-navbar-nav-pillar{
	width: $navbar-nav-height-mobile;
	height: $navbar-nav-height-mobile;
	line-height: $navbar-nav-height-mobile;

	border: 1px solid blue;
}


.mobile-nav-trigger{
	float: left;
	background: url("{{ 'hamburger_black.png' | asset_url }}") no-repeat center center;
	background-size: 18px;
}

.mobile-mini-cart-switch{
	float: right;
}


.mobile-navbar-nav-logo{

	$width: 150px;

	position: absolute;
	top: 0;
	left: 50%;
	right: 0;

	width: $width;
	margin-left: $width / -2;
	
	overflow: hidden;

	border: 1px solid red;

	&:after,
	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;

		html.mod-no-mobile & {
			@include transition();
		}
	}

	&:before {
		opacity: 0;
		background-image: url("{{ 'no_logo_white.png' | asset_url }}");
	}

	&:after {
		opacity: 1;
		background-image: url("{{ 'no_logo_black.png' | asset_url }}");
	}

	body.hero-image-dark &{
		&:before{
			opacity: 1;
		}
		&:after{
			opacity: 0;
		}
	}

	html.mod-no-mobile .desktop-navbar:hover &,
	body.browser-scrolled &{
		&:before{
			opacity: 0;
		}
		&:after{
			opacity: 1;
		}
	}
}






.mobile-navbar-nav {

	@include invisible;
	body.mobile-nav-open & {
		@include visible;
	}

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	overflow-y: auto;
	/* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;

	background-color: #fff;

}




.mobile-nav-close {
	
	float: right;

	background: url("{{ 'cross_black.png' | asset_url }}") no-repeat center center;
	background-size: 15px;
}





.nav-list-level-1-item{
	.mobile-navbar-nav-list & {
	
		>a{
			border: 1px solid blue;
			padding: 20px 0;
			text-align: center;
			span{
				border-bottom: 1px solid blue;
			}
		}

	}
}


.nav-list-level-2-item{
	.mobile-navbar-nav-list & {
	
		>a{
			border: 1px solid red;
			padding: 20px 0;
			text-align: center;
			span{
				border-bottom: 1px solid red;
			}
		}

	}
}

















