


body {

	font-size: list-get($font-size, 'body');


    padding-top: $navbar-nav-height-desktop;
    @include screen(nav-bp-down) {
    padding-top: $navbar-nav-height-mobile;
    }

    &.navbar-banner-enable {
        padding-top: $navbar-plus-banner-height-desktop;
        @include screen(nav-bp-down) {
        padding-top: $navbar-plus-banner-height-mobile;
        }
    }



}


.main {

}





.container{
    padding: 0 (list-get($grid-gutter, 'normal') / 2);
}