
.mini-cart-overlay {

	z-index:list-get($z-index, 'mini-cart');
	background-color: rgba(#000, 0.6);

	body.mini-cart-open & {
		display: block;
	}
}



.mini-cart-empty-notice{

	@include overlay(absolute);

	font-size: 2rem;

}




$mini-cart-width-desktop: 400px;
$mini-cart-width-mobile: 300px;

.mini-cart {

	@include invisible;

	body.mini-cart-open & {
		@include visible;
	}

	position: fixed;

	bottom: 0;
	right: 0;
	z-index: list-get($z-index, 'mini-cart');
	@include transform(translateZ(0));

    top: $navbar-nav-height-desktop;
    @include screen('nav-bp-down') {
    top: $navbar-nav-height-mobile;
    }

    body.navbar-banner-enable & {
        top: $navbar-plus-banner-height-desktop;
        @include screen('nav-bp-down') {
        top: $navbar-plus-banner-height-mobile;
        }
    }

	@include screen('small-up') {
		width: $mini-cart-width-desktop;
	}
	@include screen('small-down') {
		left: 50px;
	}

	background-color: #fff;

	@include transition();
}



.mini-cart-body {

	$header-plus-footer-height: 150px;

	padding: 20px 20px 30px;

	max-height: calc(100vh - #{$header-plus-footer-height} - #{$navbar-nav-height-desktop});
	@include screen('nav-bp-down') {
		max-height: calc(100vh - #{$header-plus-footer-height} - #{$navbar-nav-height-mobile});
	}
	body.navbar-banner-enable & {
		max-height: calc(100vh - #{$header-plus-footer-height} - #{$navbar-plus-banner-height-desktop});
		@include screen('nav-bp-down') {
			max-height: calc(100vh - #{$header-plus-footer-height} - #{$navbar-plus-banner-height-mobile});
		}
	}

	@include overflow-y-auto;

}



.mini-cart-item{

	@include clearfix;

	position: relative;
	font-size: 1.4rem;

	&:not(:first-child) {
		margin-top: 30px;
	}

}


$mini-car-image-width-desktop: 150px;
$mini-car-image-width-mobile: 120px;

.mini-cart-item-image{
	float: left;
	width: $mini-car-image-width-desktop;

	@include screen('nav-bp-down') {
		width: $mini-car-image-width-mobile;
	}

}




.mini-cart-item-details {
	margin-left: $mini-car-image-width-desktop + 15px;
	@include screen('nav-bp-down') {
		margin-left: $mini-car-image-width-mobile + 15px;
	}
}


.mini-cart-item-title {
	margin-bottom: 5px;
}


.mini-cart-item-price{
	position: absolute;
	bottom: 0;
	right: 0;

	


}

.mini-cart-item-options{
	
	li{

	}
}

.mini-cart-item-properties{

}

.mini-cart-item-quantity{
	
}


.mini-cart-item-remove{
    font-size: 1.4rem;
    color: #bbb;
    @include hover-opacity;
}



.mini-cart-footer{
	padding: 0 20px;
}


.mini-cart-total{
	
	@include clearfix;

	$local-height: 60px;
	height: $local-height;
    line-height: $local-height + 2px;
    
	hr{
		border: none;
		border-top: 1px solid #eee;
	}
	
}


.mini-cart-total-title{
	float: left;
	width: $mini-car-image-width-desktop;
	@include screen('nav-bp-down') {
		width: $mini-car-image-width-mobile;
	}
	font-size: 1.4rem;
	
}

.mini-cart-total-price{
	padding-left: $mini-car-image-width-desktop + 15px;
	@include screen('nav-bp-down') {
		padding-left: $mini-car-image-width-mobile + 15px;
	}
	font-size: 1.4rem;
	text-align: right;
}

.mini-cart-checkout{
	display: block;
	width: 100%;
	text-align: center;

	font-size: 1.4rem;

}

.mini-cart-view-cart{
	display: block;
	text-align: center;
	padding: 15px 0 13px;
	
	font-size: 1.4rem;

	

}







