
/* =========================================================================
    Dropdown
========================================================================= */


.dropdown-menu {
    @include transition();
    @include invisible;
}

.dropdown {
    position: relative;
    &.open{
        .dropdown-header {}

        .dropdown-menu {
            @include visible;
        }
    }
}


/* =========================================================================
    Empty Notice
========================================================================= */

.empty-notice{
    text-align: center;
}

.empty-notice-in-flow{
   padding: 80px 0; 
}


.empty-notice-title{
    margin-bottom: 20px;

}

.empty-notice-link{

}



/* =========================================================================
    Pagination
========================================================================= */


.pagination-load-more-wrapper{
    text-align: center;
}


/* =========================================================================
    Social List
========================================================================= */


.social-list{

    li{
        
        a{
            display: block;
            padding: 0 5px;
            font-size: 30px;
        }
    }

}

/* =========================================================================
    Video Cover
========================================================================= */


.video-cover {
    position: absolute;
    left: 50%;
    top: 50%;
    /* The following will size the video to fit the full container. Not necessary, just nice.*/
    min-width: 101%;
    min-height: 101%;
    @include transform(translate(-50%,-50%));
}


/* =========================================================================
    Fullscreen Overlay
========================================================================= */

.fullscreen-overlay{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: list-get($z-index, fullscreen-overlay);

    background-color: rgba(0, 0, 0, 0.3);

}




