

.product-card-image-group{
	display: none;
	&.active{
		display: initial;
	}
}



.product-card-canvas{

	@include ratio(1/1);
}



.product-card-image{

	@include overlay(absolute);

	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;


	&:nth-child(2){
		html.mod-no-mobile &{

			@include transition();
			&:hover{
				opacity: 0;
			}
			
		}
	}

}

.product-card-details{

}




.product-card-title{


}

.product-card-price{

}



