


.product-quick-shop-image{
	&.active{
		border: 1px solid green;
	}
}



.product-option-value{



	

	cursor: pointer;


	&:not(.selected-value):hover{
		opacity: 0.5;
	}

	&.active-value{
		outline: 2px solid red;
	}
	&.selected-value{
		border: 2px solid green;
	}	
}