 
$slider-carousel-nav-width: 80px;

$slider-carousel-icon-size: 80px;

$slider-carousel-translateX: 10px;

 /* =========================================================================
   Royal Slider
   ========================================================================= */




.rsDefault .rsBullets{
	background: transparent;
	width: auto;
	left: 22px;
	right: auto;	
}


.rsDefault .rsBullet{
    width: 22px;
    height: 30px;
	padding: 6px 0px 6px;
}

.rsDefault .rsBullet span{

	$local-width: 8px;

    width: $local-width;
    height: $local-width;

    background-color: transparent;
	border: 1px solid #fff;

	.slider-tone-dark &{

	    background-color: transparent;
		border: 1px solid #fff;

	}
	.slider-tone-light &{

	    background-color: list-get($color, 'bullet');
		border: 1px solid list-get($color, 'bullet-selected');

	}


}

.rsDefault .rsBullet.rsNavSelected span{
	
	background-color: #fff;

	.slider-tone-dark &{

		background-color: #fff;

	}
	.slider-tone-light &{

		background-color: list-get($color, 'bullet-selected');
		
	}

}




.rsDefault .rsArrow {
    width: $slider-carousel-nav-width;

	.no-arrowsNav &{
		display: none !important;
	}

}

.rsDefault .rsArrowIcn {
	left: 0;
	right: 0;
	width: $slider-carousel-nav-width;
	height: $slider-carousel-nav-width;
	margin: -($slider-carousel-nav-width / 2) 0 0;

}

.rsDefault.rsHor .rsArrowLeft{
	left: 0;
}

.rsDefault .rsArrowIcn{

	background-color: transparent;
	background-repeat: no-repeat;
    background-size: $slider-carousel-icon-size;

	&:hover{
		background-color: transparent;
	}
}



.rsDefault.rsHor .rsArrowLeft .rsArrowIcn {

	background-position: right center;
	background-image: url("{{ 'icon_arrow_left_black.svg' | asset_url }}");

	.slider-tone-dark &{
		background-image: url("{{ 'icon_arrow_left_white.svg' | asset_url }}");
	}
	.slider-tone-light &{
		background-image: url("{{ 'icon_arrow_left_black.svg' | asset_url }}");
	}
	
	html.mod-no-mobile & {
		@include transition();
		&:hover{
			@include transform(translateX( - $slider-carousel-translateX ));
			// background-image: url("{{ 'icon_arrow_left_black.svg' | asset_url }}");
		}
	}



}

.rsDefault.rsHor .rsArrowRight{
	right: 0;
}

.rsDefault.rsHor .rsArrowRight .rsArrowIcn {

	background-position: left center;
	background-image: url("{{ 'icon_arrow_right_black.svg' | asset_url }}");

	.slider-tone-dark &{
		background-image: url("{{ 'icon_arrow_right_white.svg' | asset_url }}");
	}
	.slider-tone-light &{
		background-image: url("{{ 'icon_arrow_right_black.svg' | asset_url }}");
	}
	
	html.mod-no-mobile & {
		@include transition();
		&:hover{
			@include transform(translateX( $slider-carousel-translateX ));
			//background-image: url("{{ 'icon_arrow_right_black.svg' | asset_url }}");
		}
	}
}









 /* =========================================================================
   Owl Carousel
   ========================================================================= */

.owl-carousel-wrapper{
	position: relative;	
}

.owl-carousel{

}




.owl-theme .owl-dots .owl-dot span{
    width: 8px;
    height: 8px;
    background-color: #fff;
    border: 1px solid $color-black;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
	background-color: $color-black;
}





.owl-carousel-nav{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: $slider-carousel-nav-width;
    cursor: pointer;

}

.owl-carousel-nav-prev{
	left: 0;
}
.owl-carousel-nav-next{
	right: 0;
}

.owl-carousel-nav-icon{
	position: absolute;
	top: 50%;
    left: 50%;
    right: 0;
    width: $slider-carousel-nav-width;
    height: $slider-carousel-nav-width;

    margin-top: - $slider-carousel-nav-width / 2;
    margin-left: - $slider-carousel-nav-width / 2;
    
    overflow: hidden;

	background-repeat: no-repeat;
	
	background-size: $slider-carousel-icon-size;

}


.owl-carousel-nav-icon-prev{
	background-image: url("{{ 'icon_arrow_left_black.svg' | asset_url }}");
	background-position: right center;
	html.mod-no-mobile & {
		@include transition();
		&:hover{
			@include transform(translateX( - $slider-carousel-translateX ));
			//background-image: url("{{ 'icon_arrow_left_black.svg' | asset_url }}");
		}
	}
}



.owl-carousel-nav-icon-next{
	background-image: url("{{ 'icon_arrow_right_black.svg' | asset_url }}");
	background-position: left center;
	html.mod-no-mobile & {
		@include transition();
		&:hover{
			@include transform(translateX( $slider-carousel-translateX ));
			//background-image: url("{{ 'icon_arrow_right_black.svg' | asset_url }}");
		}
	}	
}





