/* ========================================================================
   Collection
   ========================================================================= */


.collection-empty-notice{

}

/* ========================================================================
   Collection Refinement
   ========================================================================= */


$collection-refinement: (

  'height'               50px,

  'toggle-padding-left'  25px,

  'toggle-padding-right' 30px,

  null

);

.collection-refinement{

	@include clearfix;

	border: 1px solid purple;
}

.collection-refinement-pillar{

	height: list-get($collection-refinement,'height');
	line-height: list-get($collection-refinement,'height');

}



.collection-refinement-item{

	float: left;

	& + & {

	}

	.dropdown-toggle{

		padding-left: list-get($collection-refinement,'toggle-padding-left');
		padding-right: list-get($collection-refinement,'toggle-padding-right');
		
		span{
			color: $color-grey;
			// @include screen('small-down') {
			// 	display: none !important;
			// }
		}

	}

	&.open {
		.dropdown-toggle {

		}
	}


	.dropdown-menu {

		position: absolute;
		top: list-get($collection-refinement,'height');
		left: 0;

		z-index: 1;

		
		padding-bottom: 15px;

		background-color: #fff;

		@include screen('small-down') {
			width: 100px;
		}

		li {

			padding: 8px list-get($collection-refinement,'toggle-padding-left');

			&.active {
				a {

				}
			}

		}


	}


}



.collection-sort{

	.dropdown-toggle{
		border: 1px solid blue;
	}
	
	.dropdown-menu{
		width: 200px;
	}

}


.collection-filter {
	
	.dropdown-toggle{
		border: 1px solid red;
	}

	.dropdown-menu{
		width: 200px;
	}

}

.collection-current-tag-list{
	li{
		float: left;
		a{
			border: 1px solid orange;
		}
	}
}

.collection-current-tag{
	padding: 0 5px;
}

.collection-filter-reset{
	
}

.collection-filter-reset-link{
	padding: 0 20px;
	border: 1px solid green;
}






/* ========================================================================
   Collection Grid
   ========================================================================= */


.collection-grid{
	
	margin: 0 (list-get($grid-gutter, 'normal') / -2);

	@include screen('x-small-down') {
		margin: 0 (list-get($grid-gutter, 'small') / -2);
	}

}


.collection-grid-item{

	border: 1px solid black;

	padding: 0 (list-get($grid-gutter, 'normal') / 2);
	margin-bottom: list-get($grid-gutter, 'normal');
	@include screen('x-small-down') {
		padding: 0 (list-get($grid-gutter, 'small') / 2);
		margin-bottom: list-get($grid-gutter, 'small');
	}
}


